body    {
    background-color: skyblue;
}

h1  {
    font-weight: bolder;
    text-align: center;
}

h2  {
    font-weight: bold;
    text-align: center;
}

nav     {
    text-align: center;
}

div     {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
